<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="universityMapper">
	<statement id="queryUserDetail" resultType="String" paramType="com.eagle.entity.BaseUniversity">
		select t.area_name from base_university t where 1=1 <!--and school_name = #{schoolName}-->
		<if test="id != null ">
			and id = #{id}
		</if>
		<if test="areaName != null ">
			and area_name = #{areaName}
		</if>
	</statement>
	
	<statement id="queryUniversity" resultType="com.eagle.entity.BaseUniversity" paramType="java.util.Map">
		select * from base_university t where 1=1 <!--and school_name = #{schoolName}-->
		<if test="userId != null and userId !='' ">
			and id = #{id}
		</if>
		<if test="areaName != null ">
			and area_name = #{areaName}
		</if>
	</statement>
</mapper>
